body {
	padding-top: 60px;
	background: #FFF9FD;
	margin-bottom: 60px;
}

.container {
	max-width 600px;
	padding: 0 15px;
}

.container .text-muted {
	margin: 20px 0;
}

html {
	position: relative;
	min-height: 100%;
}

.flash {
	background: #cee5F5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
}
.error {
	background: #f0d6d6;
	padding: 0.5em;
}

table {
	align: center;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table td {
	border-width: 1px;
	padding: 4px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}
