[Unit]
Description=Shout IRC
Requires=docker.service
After=network.target

[Service]
ExecStartPre=-/usr/bin/docker kill shuo
ExecStartPre=-/usr/bin/docker rm shuo
ExecStart=/usr/bin/docker run --name shuo -v /data/sda/shout/users:/home/shuo/.shuo/users -v /data/sda/shout/logs:/home/shuo/.shuo/logs -e VIRTUAL_HOST=shuo.xeserv.us xena/shuo
ExecStop=/usr/bin/docker stop shuo

[Install]
WantedBy=multi-user.target
